<%= form_for obj do |f| %>
    <div>
        <%= f.text_field :kintai_date, :id=>"datepicker1", :readonly=>"true", :class=>"date_select" %>
        <span>の勤怠</span>
    </div>
    <div style="margin-top:20px;margin-bottom:20px;font-size:20px;">
        <%= f.text_field :kintai_from, :id=>"datepicker2", :readonly=>"true", :style=>"width:110px;", :class=>"date_select" %>
        <%= f.time_select :kintai_from %>
        <span style="vertical-align:middle" class="label label-default">出勤時間</span>
    </div>
    <div style="margin-top:20px;margin-bottom:20px;;font-size:20px;">
        <%= f.text_field :kintai_to, :id=>"datepicker3", :readonly=>"true", :style=>"width:110px;", :class=>"date_select" %>
        <%= f.time_select :kintai_to %>
        <span style="vertical-align:middle" class="label label-default">退勤時間</span>
    <div>
    <div style="margin-top:20px;font-size:18px;">
        <%= f.submit "登録", :style=>"font-size:30px;", :class=>"btn btn-primary" %>
    </div>
    <div style="margin-top:20px;font-size:18px;">
        <%= link_to "一覧へ", "/kintais/kintai_lists/201711", :id=>"lnkKintaiLists"%>
    </div>
<% end %>