<h1>勤怠編集</h1>
<%= form_for @kintai do |f| %>
    <div>
        <%= f.label :kintai_date, "年月" %>
        <%= f.text_field :kintai_year, size: 4, :readonly => true %>
        <%= f.text_field :kintai_month, size: 2, :readonly => true %>
        <%= f.text_field :kintai_day, size: 2, :readonly => true %>       
    </div>
    <div style="width=40px">
        <%= f.label :kintai_from, "時間"%>
        <input type="text" value=<%= (@kintai.kintai_from).strftime('%H%M') %> maxlength="4" size="4">
    </div>
    <%= f.submit "編集" %>
<% end %>
<div>
    <%= link_to "戻る", '/kintais/kintai_lists/' + @kintai.kintai_year.to_s + @kintai.kintai_month.to_s %>
</div>
<%= render "shared/errors", obj: @kintai %>