<%= form_for obj do |f| %>
    <div>
        <%= f.label :kintai_from, "年月" %>
        <%= f.datetime_select :kintai_from, start_year: 2000, end_year: Time.now.year, use_month_numbers: true %>
    </div>
    <%= f.submit "出勤" %>
    <div>
        <%= link_to "一覧", "/kintais/kintai_lists/" + Time.now.year.to_s + format("%02d", Time.now.month.to_s) %>
    </div>
<% end %>